.App {
  text-align: center;
}
body {
  background-color: #41BBD9;
}
.title {
  color: #006E90;
  font-size: 3em;
  margin: 50px;
}

.input {
  border: none;
  border-radius: 6px;
  height: 20px;
  width: 50%;
  padding: 20px;
}
ul {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 55%;
}
li {
  background: #fff;
  border-radius: 6px;
  list-style-type: none;
  margin: 10px;
  padding: 20px;

}
/*.do-this-list {
  background-color: white;
  border-radius: 6px;
  display: inline-block;
  margin: 3px auto;
  padding: 20px;
  text-align: center;
  width: 50%;
}
.do-this {
  float: left;
}*/


.done {
  float: right;
  margin: 5px;
  border: 3px solid #F18F01;
  background-color: white;
}
